# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
dist/
build/
coverage/
